/**
 * Global Colors Variable
 */

$colors: (
  primary100: #51c8a2,
  primary200: #1c939b,
  primary300: #038767,
  primary400: #02513e,
  secondary: #ffd200,
  blackDark: #1d1d1d,
  blackSoft: #1f272e,
  background: #f9fafa,
  greyLight: #ebeef0,
);
