@import "common/styles/import.scss";

$root: ".ui-dialog";

.ui-dialog {
  max-height: unset;
  max-width: unset;
  padding: 1rem;
  position: absolute;

  @include no-border();

  ::backdrop {
    @include bg-color(rgba(0, 0, 0, 0.3));
  }

  &--type-modal {
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.ui-dialog--open.ui-dialog--direction-left {
  animation: show-left 0.25s ease normal;
}

.ui-dialog--hide.ui-dialog--direction-left {
  animation: hide-left 0.25s ease normal;
}

.ui-dialog--open.ui-dialog--direction-bottom {
  animation: show-bottom 0.25s ease normal;
}

.ui-dialog--hide.ui-dialog--direction-bottom {
  animation: hide-bottom 0.25s ease normal;
}

.ui-dialog--open.ui-dialog--type-modal {
  animation: show-fade 0.25s ease normal;
}

.ui-dialog--hide.ui-dialog--type-modal {
  animation: hide-fade 0.25s ease normal;
}

@keyframes show-fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes hide-fade {
  to {
    opacity: 0;
  }
}

@keyframes show-bottom {
  from {
    transform: translateY(90%);
  }
  to {
    transform: translateY(0%);
  }
}

@keyframes hide-bottom {
  to {
    transform: translateY(90%);
  }
}

@keyframes show-left {
  from {
    transform: translateX(-110%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes hide-left {
  to {
    transform: translateX(-110%);
  }
}
