@import "common/styles/import.scss";

.ui-dialog-add-fish {
  max-width: 500px;
  padding: 16px 20px;
  overflow: unset;
  width: 90%;

  @include rounded(0.5rem);

  &__header {
    padding-bottom: 0.5rem;

    @include border-bottom(1px, solid, get-color(greyLight));
  }

  &__body {
    padding: 1rem 0;

    .ui-text-input__wrapper {
      margin-bottom: 1rem;
    }

    .ui-button {
      margin-top: 1rem;
      width: 100%;
    }
  }

  .suggestion {
    position: absolute;
    padding: 0.5rem;
    top: 36px;
    z-index: 99;

    @include bg-color(white);
    @include shadow(default-2);
    @include rounded(0.5rem);

    > div {
      cursor: pointer;
      min-width: 200px;
      padding: 6px 12px;

      @include rounded(4px);

      &:hover {
        @include bg-color(greyLight);
      }
    }
  }
}
